## THIS IS THE PYTHON IMPLEMENTATION OF TFIDF WITHOUT USING SKLEARN LIBRARY

In [1]:
review1 = "This pasta is very tasty and affordable"
review2 = "This pasta is not tasty and is affordable"

In [2]:
bow1 = review1.split(" ")
bow2 = review2.split(" ")

In [3]:
bow1

['This', 'pasta', 'is', 'very', 'tasty', 'and', 'affordable']

In [4]:
bow2

['This', 'pasta', 'is', 'not', 'tasty', 'and', 'is', 'affordable']

In [8]:
word_set = set(bow1).union(set(bow2))

In [9]:
word_set

{'This', 'affordable', 'and', 'is', 'not', 'pasta', 'tasty', 'very'}

In [23]:
worddict1 = dict.fromkeys(word_set, 0)
worddict2 = dict.fromkeys(word_set, 0)

In [24]:
worddict1

{'This': 0,
 'not': 0,
 'affordable': 0,
 'very': 0,
 'is': 0,
 'and': 0,
 'pasta': 0,
 'tasty': 0}

In [25]:
for word in bow1:
    worddict1[word] += 1

for word in bow2:
    worddict2[word] += 1

In [27]:
worddict1

{'This': 1,
 'not': 0,
 'affordable': 1,
 'very': 1,
 'is': 1,
 'and': 1,
 'pasta': 1,
 'tasty': 1}

In [33]:
import pandas as pd
df = pd.DataFrame([worddict1, worddict2], index = ["review1","review2"])

In [34]:
df

         This  not  affordable  very  is  and  pasta  tasty
review1     1    0           1     1   1    1      1      1
review2     1    1           1     0   2    1      1      1

In [39]:
def computeTF(worddict, bow):
    tf = {}
    for word,count in worddict.items():
        tf[word] = count/len(bow)
    return tf

In [40]:
tfbow1 = computeTF(worddict1, bow1)
tfbow2 = computeTF(worddict2, bow2)

In [41]:
tfbow2

{'This': 0.125,
 'not': 0.125,
 'affordable': 0.125,
 'very': 0.0,
 'is': 0.25,
 'and': 0.125,
 'pasta': 0.125,
 'tasty': 0.125}

In [59]:
def computeIDF(doclist):
    idf = {}
    N = len(doclist)
    import math
    
    idf = dict.fromkeys(doclist[0].keys(), 0)
    for doc in doclist:
        for word, val in doc.items():
            if val > 0:
                idf[word] += 1
    
    for word, val in idf.items():
        idf[word] = math.log10(N / float(val))
        
    return idf

In [60]:
idfs = computeIDF([worddict1,worddict2])

In [61]:
idfs

{'This': 0.0,
 'not': 0.3010299956639812,
 'affordable': 0.0,
 'very': 0.3010299956639812,
 'is': 0.0,
 'and': 0.0,
 'pasta': 0.0,
 'tasty': 0.0}

In [70]:
def computeTFIDF(tfbow,idfs):
    tfidf = {}
    for word,val in tfbow.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [75]:
tfidfbow1 = computeTFIDF(tfbow1, idfs)
tfidfbow2 = computeTFIDF(tfbow2, idfs)

In [76]:
pd.DataFrame([tfidfbow1,tfidfbow2])

   This       not  affordable      very   is  and  pasta  tasty
0   0.0  0.000000         0.0  0.043004  0.0  0.0    0.0    0.0
1   0.0  0.037629         0.0  0.000000  0.0  0.0    0.0    0.0